In [1]:
import datetime
import numpy as np
import pandas as pd

## 1. Dataset Preprocessing
### 1.a) Dataset Loading

In [2]:
df = pd.read_csv('TED.csv')
df.head()

,video_link,thumbnail_link,duration,title,views,likes,comments,date,description
0,https://www.youtube.com//watch?v=B5smctuV7-Q,https://i.ytimg.com/vi/B5smctuV7-Q/hqdefault.jpg,"14 minutes, 48 seconds",We Can Make COVID-19 the Last Pandemic | Bill ...,"208,480",Like,NaN,22 Apr 2022,"Building a pandemic-free future won’t be easy,..."
1,https://www.youtube.com//watch?v=FrqBWQ-mVEc,https://i.ytimg.com/vi/FrqBWQ-mVEc/hqdefault.jpg,"9 minutes, 53 seconds",The Future Will Be Shaped by Optimists | Kevin...,"51,273",1.9K,262,21 Apr 2022,"""Every great and difficult thing has required ..."
2,https://www.youtube.com//watch?v=iIne-UO7wUo,https://i.ytimg.com/vi/iIne-UO7wUo/hqdefault.jpg,"9 minutes, 18 seconds",An Olympic Champion’s Unwavering Advocacy for ...,"25,597",Like,53,20 Apr 2022,Getting pregnant as a track and field athlete ...
3,https://www.youtube.com//watch?v=5T2VRY0LECc,https://i.ytimg.com/vi/5T2VRY0LECc/hqdefault.jpg,"6 minutes, 56 seconds",The African Swamp Protecting Earth's Environme...,"21,430",633,40,20 Apr 2022,The peatlands of Africa's Congo Basin are a va...
4,https://www.youtube.com//watch?v=YRvf00NooN8,https://i.ytimg.com/vi/YRvf00NooN8/hqdefault.jpg,"1 hour, 6 minutes, 25 seconds",Elon Musk: A future worth getting excited abou...,"3,609,893",95K,"8,757",18 Apr 2022,What's on Elon Musk's mind? In this exclusive ...

### 1.b) Checking NULL values

In [3]:
df.isnull().sum()

video_link          0
thumbnail_link    655
duration            0
title               3
views               3
likes               1
comments           67
date                3
description        13
dtype: int64

In [4]:
len(df)

3923

In [5]:
del df['thumbnail_link']

In [6]:
df.isnull().sum()

video_link      0
duration        0
title           3
views           3
likes           1
comments       67
date            3
description    13
dtype: int64

In [7]:
df.dropna(inplace=True)

In [8]:
df.isnull().sum()

video_link     0
duration       0
title          0
views          0
likes          0
comments       0
date           0
description    0
dtype: int64

## 2) Data Exploration
### 2.a) views column

In [9]:
views = []

for i in df['views']:
    views.append(int(i.replace(',', '')))
    
df['views'] = views

### 2.b) comments column

In [10]:
comments = []

for i in df['comments']:
    comments.append(int(i.replace(',', '')))
    
df['comments'] = comments

### 2.c) likes column

In [11]:
df.head()

,video_link,duration,title,views,likes,comments,date,description
1,https://www.youtube.com//watch?v=FrqBWQ-mVEc,"9 minutes, 53 seconds",The Future Will Be Shaped by Optimists | Kevin...,51273,1.9K,262,21 Apr 2022,"""Every great and difficult thing has required ..."
2,https://www.youtube.com//watch?v=iIne-UO7wUo,"9 minutes, 18 seconds",An Olympic Champion’s Unwavering Advocacy for ...,25597,Like,53,20 Apr 2022,Getting pregnant as a track and field athlete ...
3,https://www.youtube.com//watch?v=5T2VRY0LECc,"6 minutes, 56 seconds",The African Swamp Protecting Earth's Environme...,21430,633,40,20 Apr 2022,The peatlands of Africa's Congo Basin are a va...
4,https://www.youtube.com//watch?v=YRvf00NooN8,"1 hour, 6 minutes, 25 seconds",Elon Musk: A future worth getting excited abou...,3609893,95K,8757,18 Apr 2022,What's on Elon Musk's mind? In this exclusive ...
5,https://www.youtube.com//watch?v=cdZZpaB2kDM,"54 minutes, 46 seconds","Elon Musk talks Twitter, Tesla and how his bra...",4405481,115K,10444,Streamed live on 14 Apr 2022,In this unedited conversation with head of TED...

In [12]:
likes = []

for i in df['likes']:
    if i == 'Like':
        likes.append(i)
    elif ('K' in i):
        likes.append(int(float(i.replace('K', ''))*1000))
    elif ('M' in i):
        likes.append(int(float(i.replace('M', ''))*1000000))
    else:
        likes.append(int(i))
        
df['likes'] = likes

In [13]:
df.head()

,video_link,duration,title,views,likes,comments,date,description
1,https://www.youtube.com//watch?v=FrqBWQ-mVEc,"9 minutes, 53 seconds",The Future Will Be Shaped by Optimists | Kevin...,51273,1900,262,21 Apr 2022,"""Every great and difficult thing has required ..."
2,https://www.youtube.com//watch?v=iIne-UO7wUo,"9 minutes, 18 seconds",An Olympic Champion’s Unwavering Advocacy for ...,25597,Like,53,20 Apr 2022,Getting pregnant as a track and field athlete ...
3,https://www.youtube.com//watch?v=5T2VRY0LECc,"6 minutes, 56 seconds",The African Swamp Protecting Earth's Environme...,21430,633,40,20 Apr 2022,The peatlands of Africa's Congo Basin are a va...
4,https://www.youtube.com//watch?v=YRvf00NooN8,"1 hour, 6 minutes, 25 seconds",Elon Musk: A future worth getting excited abou...,3609893,95000,8757,18 Apr 2022,What's on Elon Musk's mind? In this exclusive ...
5,https://www.youtube.com//watch?v=cdZZpaB2kDM,"54 minutes, 46 seconds","Elon Musk talks Twitter, Tesla and how his bra...",4405481,115000,10444,Streamed live on 14 Apr 2022,In this unedited conversation with head of TED...

### 2.d) date column

In [14]:
date = []
month = []
year = []

for i in df['date']:
    if 'Streamed' in i:
        date.append(int(i.split(' ')[-3:][0]))
        month.append(i.split(' ')[-3:][1])
        year.append(int(i.split(' ')[-3:][2]))
    else:
        date.append(int(i.split(' ')[0]))
        month.append(i.split(' ')[1])
        year.append(int(i.split(' ')[2]))
        
df['date'] = date
df['month'] = month
df['year'] = year

In [15]:
df.head()

,video_link,duration,title,views,likes,comments,date,description,month,year
1,https://www.youtube.com//watch?v=FrqBWQ-mVEc,"9 minutes, 53 seconds",The Future Will Be Shaped by Optimists | Kevin...,51273,1900,262,21,"""Every great and difficult thing has required ...",Apr,2022
2,https://www.youtube.com//watch?v=iIne-UO7wUo,"9 minutes, 18 seconds",An Olympic Champion’s Unwavering Advocacy for ...,25597,Like,53,20,Getting pregnant as a track and field athlete ...,Apr,2022
3,https://www.youtube.com//watch?v=5T2VRY0LECc,"6 minutes, 56 seconds",The African Swamp Protecting Earth's Environme...,21430,633,40,20,The peatlands of Africa's Congo Basin are a va...,Apr,2022
4,https://www.youtube.com//watch?v=YRvf00NooN8,"1 hour, 6 minutes, 25 seconds",Elon Musk: A future worth getting excited abou...,3609893,95000,8757,18,What's on Elon Musk's mind? In this exclusive ...,Apr,2022
5,https://www.youtube.com//watch?v=cdZZpaB2kDM,"54 minutes, 46 seconds","Elon Musk talks Twitter, Tesla and how his bra...",4405481,115000,10444,14,In this unedited conversation with head of TED...,Apr,2022

In [16]:
del df['description']

In [17]:
df.head()

,video_link,duration,title,views,likes,comments,date,month,year
1,https://www.youtube.com//watch?v=FrqBWQ-mVEc,"9 minutes, 53 seconds",The Future Will Be Shaped by Optimists | Kevin...,51273,1900,262,21,Apr,2022
2,https://www.youtube.com//watch?v=iIne-UO7wUo,"9 minutes, 18 seconds",An Olympic Champion’s Unwavering Advocacy for ...,25597,Like,53,20,Apr,2022
3,https://www.youtube.com//watch?v=5T2VRY0LECc,"6 minutes, 56 seconds",The African Swamp Protecting Earth's Environme...,21430,633,40,20,Apr,2022
4,https://www.youtube.com//watch?v=YRvf00NooN8,"1 hour, 6 minutes, 25 seconds",Elon Musk: A future worth getting excited abou...,3609893,95000,8757,18,Apr,2022
5,https://www.youtube.com//watch?v=cdZZpaB2kDM,"54 minutes, 46 seconds","Elon Musk talks Twitter, Tesla and how his bra...",4405481,115000,10444,14,Apr,2022

### 2.5) month column

In [18]:
df['month'].unique()

array(['Apr', 'Mar', 'Feb', 'Jan', 'Dec', 'Nov', 'Oct', 'Sept', 'Aug',
       'Jul', 'Jun', 'May'], dtype=object)

In [19]:
dct = {
    'Jan':1,
    'Feb':2,
    'Mar':3,
    'Apr':4,
    'May':5,
    'Jun':6,
    'Jul':7,
    'Aug':8,
    'Sept':9,
    'Oct':10,
    'Nov':11,
    'Dec':12
}

In [20]:
months = []
for i in df['month']:
    months.append(dct[i])

df['month'] = months

In [21]:
df.head()

,video_link,duration,title,views,likes,comments,date,month,year
1,https://www.youtube.com//watch?v=FrqBWQ-mVEc,"9 minutes, 53 seconds",The Future Will Be Shaped by Optimists | Kevin...,51273,1900,262,21,4,2022
2,https://www.youtube.com//watch?v=iIne-UO7wUo,"9 minutes, 18 seconds",An Olympic Champion’s Unwavering Advocacy for ...,25597,Like,53,20,4,2022
3,https://www.youtube.com//watch?v=5T2VRY0LECc,"6 minutes, 56 seconds",The African Swamp Protecting Earth's Environme...,21430,633,40,20,4,2022
4,https://www.youtube.com//watch?v=YRvf00NooN8,"1 hour, 6 minutes, 25 seconds",Elon Musk: A future worth getting excited abou...,3609893,95000,8757,18,4,2022
5,https://www.youtube.com//watch?v=cdZZpaB2kDM,"54 minutes, 46 seconds","Elon Musk talks Twitter, Tesla and how his bra...",4405481,115000,10444,14,4,2022

### 2.e) Combining Day, Month and year

In [22]:
date_month_year = []

for i in df.values[:, -3:]:
    date_month_year.append(str(i[0]) +'/'+ str(i[1]) +'/'+ str(i[2]))
    
df['date_month_year'] = date_month_year

In [23]:
df.head()

,video_link,duration,title,views,likes,comments,date,month,year,date_month_year
1,https://www.youtube.com//watch?v=FrqBWQ-mVEc,"9 minutes, 53 seconds",The Future Will Be Shaped by Optimists | Kevin...,51273,1900,262,21,4,2022,21/4/2022
2,https://www.youtube.com//watch?v=iIne-UO7wUo,"9 minutes, 18 seconds",An Olympic Champion’s Unwavering Advocacy for ...,25597,Like,53,20,4,2022,20/4/2022
3,https://www.youtube.com//watch?v=5T2VRY0LECc,"6 minutes, 56 seconds",The African Swamp Protecting Earth's Environme...,21430,633,40,20,4,2022,20/4/2022
4,https://www.youtube.com//watch?v=YRvf00NooN8,"1 hour, 6 minutes, 25 seconds",Elon Musk: A future worth getting excited abou...,3609893,95000,8757,18,4,2022,18/4/2022
5,https://www.youtube.com//watch?v=cdZZpaB2kDM,"54 minutes, 46 seconds","Elon Musk talks Twitter, Tesla and how his bra...",4405481,115000,10444,14,4,2022,14/4/2022

### 2.f) Fill 'Likes' with views-like ratio

In [24]:
ratios = []
for i in df.values[:, 3:5]:
    if (i[1] != 'Like'):
        ratios.append(i[0]/i[1])
        
ratio = int(sum(ratios)/len(ratios))

In [25]:
ratio

72

In [26]:
likes = []
for i in df.values[:, 3:5]:
    if i[1] == 'Like':
        likes.append(int(i[0]/ratio))
    else:
        likes.append(i[1])
        
df['likes'] = likes

In [27]:
df.head()

,video_link,duration,title,views,likes,comments,date,month,year,date_month_year
1,https://www.youtube.com//watch?v=FrqBWQ-mVEc,"9 minutes, 53 seconds",The Future Will Be Shaped by Optimists | Kevin...,51273,1900,262,21,4,2022,21/4/2022
2,https://www.youtube.com//watch?v=iIne-UO7wUo,"9 minutes, 18 seconds",An Olympic Champion’s Unwavering Advocacy for ...,25597,355,53,20,4,2022,20/4/2022
3,https://www.youtube.com//watch?v=5T2VRY0LECc,"6 minutes, 56 seconds",The African Swamp Protecting Earth's Environme...,21430,633,40,20,4,2022,20/4/2022
4,https://www.youtube.com//watch?v=YRvf00NooN8,"1 hour, 6 minutes, 25 seconds",Elon Musk: A future worth getting excited abou...,3609893,95000,8757,18,4,2022,18/4/2022
5,https://www.youtube.com//watch?v=cdZZpaB2kDM,"54 minutes, 46 seconds","Elon Musk talks Twitter, Tesla and how his bra...",4405481,115000,10444,14,4,2022,14/4/2022

### Q) Finding Day of publishing every video

In [28]:
day = []

for i in df['date_month_year']:
   day.append(datetime.date(int(i.split('/')[2]), int(i.split('/')[1]), int(i.split('/')[0])).strftime("%a"))

df['day'] = day

In [29]:
df.head()

,video_link,duration,title,views,likes,comments,date,month,year,date_month_year,day
1,https://www.youtube.com//watch?v=FrqBWQ-mVEc,"9 minutes, 53 seconds",The Future Will Be Shaped by Optimists | Kevin...,51273,1900,262,21,4,2022,21/4/2022,Thu
2,https://www.youtube.com//watch?v=iIne-UO7wUo,"9 minutes, 18 seconds",An Olympic Champion’s Unwavering Advocacy for ...,25597,355,53,20,4,2022,20/4/2022,Wed
3,https://www.youtube.com//watch?v=5T2VRY0LECc,"6 minutes, 56 seconds",The African Swamp Protecting Earth's Environme...,21430,633,40,20,4,2022,20/4/2022,Wed
4,https://www.youtube.com//watch?v=YRvf00NooN8,"1 hour, 6 minutes, 25 seconds",Elon Musk: A future worth getting excited abou...,3609893,95000,8757,18,4,2022,18/4/2022,Mon
5,https://www.youtube.com//watch?v=cdZZpaB2kDM,"54 minutes, 46 seconds","Elon Musk talks Twitter, Tesla and how his bra...",4405481,115000,10444,14,4,2022,14/4/2022,Thu

### 2.g) Duration column

In [30]:
def duration(lst):
    
    minutes = 0
    
    for i in lst.split(','):
        if ('minutes' in  i):
            minutes += int(i[:-8])
        if ('hour' in i):
            minutes += (int(i[:-5])*60)
        if ('seconds' in i):
            if int(i[:-8])>40:
                minutes += 1
                
    return minutes

dur = []

for i in df['duration']:
    dur.append(duration(i))
    
df['duration'] = dur

In [31]:
df.head()

,video_link,duration,title,views,likes,comments,date,month,year,date_month_year,day
1,https://www.youtube.com//watch?v=FrqBWQ-mVEc,10,The Future Will Be Shaped by Optimists | Kevin...,51273,1900,262,21,4,2022,21/4/2022,Thu
2,https://www.youtube.com//watch?v=iIne-UO7wUo,9,An Olympic Champion’s Unwavering Advocacy for ...,25597,355,53,20,4,2022,20/4/2022,Wed
3,https://www.youtube.com//watch?v=5T2VRY0LECc,7,The African Swamp Protecting Earth's Environme...,21430,633,40,20,4,2022,20/4/2022,Wed
4,https://www.youtube.com//watch?v=YRvf00NooN8,66,Elon Musk: A future worth getting excited abou...,3609893,95000,8757,18,4,2022,18/4/2022,Mon
5,https://www.youtube.com//watch?v=cdZZpaB2kDM,55,"Elon Musk talks Twitter, Tesla and how his bra...",4405481,115000,10444,14,4,2022,14/4/2022,Thu

In [32]:
df.to_csv("TED_Preprocessed.csv", index = False)